* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* cursor: none; */

  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  user-select: none;
  /* mix-blend-mode: difference; */
  overscroll-behavior: none;
  /* safari */
  -webkit-overflow-scrolling: touch;

  @media (max-width: 36em) {
    font-size: 85%;
  }
}

@font-face {
  font-family: 'Condor';
  src: url('/Condor-Light.woff2') format('woff2'),
    url('/Condor-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Larken-B';
  src: url('/LarkenDEMO-BoldItalic.woff2') format('woff2'),
    url('/LarkenDEMO-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Larken';
  src: url('/LarkenDEMO-Regular.woff2') format('woff2'),
    url('/LarkenDEMO-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}