* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* cursor: none; */

  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  user-select: none;
  mix-blend-mode: difference;
  overscroll-behavior: none;

  @media (max-width: 36em) {
    font-size: 85%;
  }
}

.noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: '';
  opacity: 0.1;
  z-index: 1000;
  pointer-events: none;
  background: url('/noise.gif');
}

@font-face {
  font-family: 'Geakosa';
  src: url('/Geakosa-Regular.woff2') format('woff2'),
    url('/Geakosa-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeakosaOutline';
  src: url('/Geakosa-ObliqueOutline.woff2') format('woff2'),
    url('/Geakosa-ObliqueOutline.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

.triangle-cursor {
  background-color: #fff;
  height: 45px;
  width: 25px;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1000;
  mix-blend-mode: difference;
  /* triangle */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  /* tilted */
  transform: rotate(-15deg);
}

.zigzag {
  background-color: transparent;
  opacity: 1;
  background-image: linear-gradient(135deg, #7631e4 25%, transparent 25%),
    linear-gradient(225deg, #7631e4 25%, transparent 25%),
    linear-gradient(45deg, #7631e4 25%, transparent 25%),
    linear-gradient(315deg, #7631e4 25%, #04040f 25%);
  background-position: 23px 0, 23px 0, 0 0, 0 0;
  background-size: 46px 46px;
  /* background-repeat: repeat; */
}

.on-hover-purple {
  transition: 0.3s;
  &:hover {
    background-color: #7631e4;
  }
}

.on-hover-green {
  transition: 0.3s;
  &:hover {
    background-color: #00ff00;
    color: #04040f;
  }
}

.on-hover-white {
  transition: 0.3s;
  &:hover {
    background-color: #fff;
    color: #04040f;
  }
}

/* text hide by height decrease when hover from top to bottom*/
.text-hide {
  overflow: hidden;
  position: relative;
  display: inline-block;
  content: attr(data-content);

  /* put text in before */
  &:before {
    content: attr(data-content);
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.3s;
  }
  &:hover:before {
    height: 0;
  }
}
